.verify-reset {
  width: 100%;
  height: 100vh;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 16px;
  padding: 0;
  background-color: #fafafa;
}

.verify-reset-card {
  width: 48%;
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
  padding: 10px 40px;
}

.verify-reset-form {
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 0;
}
.verify-reset-input-box {
  min-height: 88px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 14px;
  padding: 0;
}
.verify-reset-input-box-label {
  min-width: 433px;
  height: 22px;
  flex-grow: 0;
  font-family: "Noto Sans Arabic", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: -0.15px;
  text-align: left;
  color: #171923;
}

.verify-reset-input-box-label .text-style-1 {
  color: #718096;
}
.verify-reset-resend-box {
  min-width: 147px;
  height: 32px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0 16px;
  border-radius: 4px;
}
.verify-reset-resend-box {
  cursor: pointer;
}
.verify-reset-resend-span {
  min-width: 83px;
  height: 24px;
  flex-grow: 0;
  font-family: "Noto Sans Arabic", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #00939f;
}
.verify-reset-resend-box-icon {
  width: 24px;
  height: 24px;
  flex-grow: 0;
  padding: 4px 4px 4px 4px;
}
